<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/eclipsecon/Conference" 
       class = "org.eclipse.eclipsecon.conference.ConferencePackage"
       genModel = "model/generated/Conference.genmodel" /> 
	
  </extension>



</plugin>
